{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tweet Synthesizer</title>
	
    
   <link rel="stylesheet" type="text/css" href="{% static 'markov/css/StyleTS.css' %}" />
</head>
<body>
    <!--Nav Start-->
    <nav>
        <a class="logo">Anastacio</a>
        <!--Start about Class-->
        <div class="about">
            <button class="dropbtn">
                About
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="https://www.linkedin.com/in/trevor-ortega-146330176/">About Me</a>
                <a href="https://github.com/kennethreitz/twitter-scraper/">Source Code</a>
            </div>
        </div>
        <!--End about Class-->
    </nav>
    <!--Nav End-->
    <h1>Tweet Synthesizer</h1>
    <h3>
        Create New Tweets From Any Twitter User's Profile Using Machine Learning!
    </h3>
    <!--Wrapper Start-->
    <div id="wrapper">
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <!--<input type="text" id="name" name="name" placeholder="Twitter Handle: '@__'" />-->
            <!--<input type="number" id="pages" name="pages" placeholder="(Optional) Amount of Pages to Read: ..." min="1" max="25"/>-->
			<input id="enter" type="submit" value="Enter">
        </form>
    </div>
    <!--End Wrapper-->
    <footer>
        Copyright &copy; 2019 Anastacio <br />
        Websites and Applications Designed by Trevor Anastacio Ortega<br />
        Open Source Python Code by kennethreiz
    </footer>
</body>
</html>
