<!--{% load static %}-->
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tweet Synthesizer</title>
	
   <link rel="stylesheet" type="text/css" href="{% static 'markov/css/StyleTS.css' %}" />
   <script>
    function goBack(){
        window.history.back()
    }
    function refresh(){
        window.location.reload()
    }
   </script>
</head>
<body>
    <!--Nav Start-->
    <nav>
        <a class="logo">Anastacio</a>
        <!--Start about Class-->
        <div class="about">
            <button class="dropbtn">
                About
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="https://www.linkedin.com/in/trevor-ortega-146330176/">About Me</a>
                <a href="https://github.com/kennethreitz/twitter-scraper/">Source Code</a>
            </div>
        </div>
        <!--End about Class-->
    </nav>
    <!--Nav End-->
    <h1>Loading Tweet...</h1>
    <h3>
        Just be patient or something
    </h3>
    <!--Wrapper Start-->
    <div id="wrapper">
        
        <div id="resultsBox">
            <img src="../static/markov/images/ball.gif">
        </div>
      
    </div>
    <!--End Wrapper-->
    <footer>
        Copyright &copy; 2019 Anastacio <br />
        Websites and Applications Designed by Trevor Anastacio Ortega<br />
        Open Source Python Code by kennethreiz
    </footer>
</body>
</html>
